                                          /*Common*/
html { 
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
:root {
  --light-grey: #f0f0f6;
  --grey: #ebe9e5;
  --dark-grey: #3e3e3e;
  --orange: #ffa500;
}
.body {
  font-family: 'Roboto', Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: var(--dark-grey);
  background-color: var(--light-grey);
}
.bg-wrapper { position: relative; }
.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.common-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  max-width: 1520px;
  margin: 0 auto;
}
.list { list-style-type: none; }
a { font-size: 0; }
.text--orange { color: var(--orange); }
.text--shadow { text-shadow: 1px 1px 2px var(--dark-grey); }
.icon-link { 
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.8);
  transition: filter 300ms;
}
.icon-link:hover { filter: brightness(1.2); }
section {
  width: fit-content;
  padding: 40px 0;
}
.heading {
  width: fit-content;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 30px;
}
.subheading {
  width: fit-content;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 24px;
  border-radius: 6px;
}
                                          /*Hide heading*/
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
                                          /*Menu*/
.menu { position: fixed; }
.menu__list {
  display: flex;
  flex-direction: column;
}
.menu__item {
  margin-top: 40px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.menu__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: linear-gradient(145deg, #fff, #d8d8d8);
  box-shadow:  6px 6px 12px #ccc,
    -6px -6px 12px #fff;
  border-radius: 50%;
  transition: all 250ms;
}
.menu__link:hover {
  transform: scale(1.1, 1.1);
  background: linear-gradient(145deg, #fff, var(--orange));
}
.menu__link:active {
  transform: scale(1, 1);
}
.menu__icon {
  width: 30px;
  height: 30px;
}
.menu-link__descr {
  margin-right: 30px;
  font-size: 22px;
  color: var(--dark-grey);
  opacity: 0;
  transition: opacity 250ms;
}
.menu__link:hover + .menu-link__descr { opacity: 1; }
.menu__link:active + .menu-link__descr { color: var(--orange); }
                                          /*Main*/
main { padding: 0 0 0 320px; }
                                          /*About section*/
.about { display: flex; }
.about__text { padding: 70px 70px 0 0; }
.about__hi {
  width: fit-content;
  margin-bottom: 50px;
  font-family: 'WindSong', cursive;
  font-size: 120px;
  color: var(--orange);
}
.about__greetings {
  width: fit-content;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 60px;
}
.about__profession {
  width: fit-content;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 32px;
}
.about__profile {
  width: fit-content;
  line-height: 24px;
}
.about__photo {
  width: 500px;
  height: 500px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.8);
}
                                          /*Education section*/
.education { border-top: 3px solid var(--grey); }
.education__higher {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.education__blazon {
  width: 100px;
  margin-right: 10px;
}
.education__courses { padding-left: 25px; }
.education__course {
  margin: 0 15px 20px 0;
  display: flex;
  align-items: center;
}
.course__logo {
  height: 50px;
  margin-right: 15px;
  border-radius: 6px;
}
.course__descr {
  width: fit-content;
  border-radius: 6px;
}
                                          /*Skills section*/
.skills { border-top: 3px solid var(--grey); }
.skills-list {
  width: 780px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  padding-left: 50px;
}
.skills__item {
  height: 95px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.skills__icon {
  width: 60px;
  height: 60px;
}
.skills__hard { width: 740px; }
.add-skils { margin-bottom: 40px; }
.skills__add {
  width: 277px;
  margin-bottom: 0;
}
.add-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.add-icon { margin-bottom: 15px; }
.codewars {
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.8));
  transition: filter 300ms;
}
.codewars:hover {
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.8)) brightness(1.2);
}
.first-p { margin-bottom: 4px; }
                                          /*Code section*/
.code { border-top: 3px solid var(--grey); }
.kata-link {
  font-size: 24px;
  text-decoration: none;
}
                                          /*Project section*/
.projects { border-top: 3px solid var(--grey); }
.projects__list {
  max-width: 1000px;
  height: 840px;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
}
.project-list__item { max-width: 400px; }
.projects__thumbnail {
  width: 400px;
  height: 222px;
  margin-bottom: 18px;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.8);
  transition: filter 400ms ;
}
.projects__thumbnail:hover { filter: blur(2px); }
.project__name {
  margin-bottom: 15px; 
  font-size: 20px;
  font-weight: 600;
}
.project__descr { margin-bottom: 15px; }
.tech-logo { height: 40px; }
.js-logo { margin-left: 6px; }
                                          /*Contacts section*/
.contacts { border-top: 3px solid var(--grey); }
.contacts__list { display: flex; }
.contact-list__item {
  display: flex;
  align-items: center;
}
.contacts__icon {
  width: 30px;
  margin: 0 15px 0 50px;
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.8));
  transition: filter 300ms ;
}
.contacts__icon:hover {
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.8)) brightness(1.2);
}
                                          /*Footer*/
.footer {
  padding: 30px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 3px solid var(--grey);
}
.footer__logo { height: 40px; }
.footer__link {
  display: flex;
  align-items: center;
  color: var(--dark-grey);
  text-decoration: none;
}
.footer__text {
  margin-right: 10px;
  font-size: 18px;
}