                                          /*Common*/
html { 
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
:root {
  --light-grey: #f0f0f6;
  --dark-grey: #3e3e3e;
  --orange: #ffb400;
  --orange: #ffa500;
}
.body {
  font-family: 'Roboto', Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: var(--dark-grey);
  background-color: var(--light-grey);
}
.bg-wrapper {
  position: relative;
}
.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.common-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  max-width: 1500px;
  margin: 0 auto;
  /* border: 1px solid black; */
}
.list { list-style-type: none; }
.text--orange {
  color: var(--orange);
}
.border {
  border-top: 3px solid var(--light-grey);
  margin-bottom: 30px;
}
.heading {
  display: inline-block;
  padding-bottom: 15px;
  font-weight: 500;
  font-size: 30px;
  border-radius: 2px;
  background-color: #fff;
}
.subheading {
  display: inline-block;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 24px;
  background-color: #fff;
}
                                          /*Hide heading*/
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
                                          /*Menu*/
.menu {
  position: fixed;
  margin-left: -120px;
  font-size: 24px;
}
.menu__list {
  display: flex;
  flex-direction: column;
}
.menu__item {
  margin-top: 40px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.menu__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background: linear-gradient(145deg, #fff, #d8d8d8);
  box-shadow:  6px 6px 12px #ccc,
    -6px -6px 12px #fff;
  /* background-color: #f0f0f6; */
  /* border: 2px solid transparent; */
  border-radius: 50%;
  transition: all 250ms;
}
.menu__link:hover {
  transform: scale(1.1, 1.1);
  /* background-color: #ffb400; */
  background: linear-gradient(145deg, #fff, var(--orange));
}
.menu__link:active {
  transform: scale(1, 1);
}
.menu__icon {
  width: 40px;
  height: 40px;
}
.menu-link__descr {
  margin-right: 30px;
  color: var(--dark-grey);
  opacity: 0;
  transition: opacity 250ms;
}
.menu__link:hover + .menu-link__descr {
  opacity: 1;
}
.menu__link:active + .menu-link__descr {
  color: var(--orange);
}
                                          /*Main*/
main {
  padding: 0 0 0 250px;
}
                                          /*About section*/
.about {
  display: flex;
  margin-bottom: 70px;
}
.about__text {
  padding: 70px 70px 0 0;
}
.about__hi {
  margin-bottom: 50px;
  font-family: 'WindSong', cursive;
  font-size: 120px;
  color: var(--orange);
  background-color: #fff;
}
.about__greetings {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 60px;
  text-shadow: 1px 1px 2px var(--dark-grey);
  background-color: #fff;
}
.about__profession {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 32px;
  background-color: #fff;
}
.about__profile {
  font-size: 18px;
  line-height: 24px;
  background-color: #fff;
}
.about__photo {
  width: 550px;
  height: 500px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.8);
}
                                          /*Education section*/
.education__higher {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.education__blazon {
  width: 160px;
}
.education__university {
  font-size: 18px;
  background-color: #fff;
}